.pr-announcement-bar {
    background-color: $primary-color;
    color: $white;
    font-family: $fm-js-b;
    font-size: $fs-body-sm;
    line-height: $lh-body-sm;
    padding: 12px 15px;
    position: relative;
    text-align: center;
    z-index: 999;
}

/* ======== Banner CSS Start ========= */  

.pr-banner {
    background-image: url(../assets/images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0;
    position: relative;

    @media only screen and (min-width: 768px) {
        padding: 70px 0;
    }

    @media only screen and (min-width: 992px) {
        padding: 110px 0 175px;
    }
}

.pr-banner__content {
    display: inline-block;
    overflow: hidden;

    .pr-banner__content-wrap {
        background-color: $indigo-dye;
        border-radius: 0 50px 50px 0;
        max-width: 630px;
        padding: 30px 20px 30px 40px;
        position: relative;
        width: 100%;
    
        &::before {
            border-bottom: 70px solid $indigo-dye;
            border-right: 70px solid transparent;
            content: '';
            height: 0;
            position: absolute;
            right: -22px;
            top: -22px;
            width: 0;
        } 
        
        &::after {
            border-right: 70px solid transparent;
            border-top: 70px solid $indigo-dye;
            bottom: -22px;
            content: '';
            height: 0;
            position: absolute;
            right: -22px;
            width: 0;
        }
    
        @media only screen and (min-width: 768px) {
            padding: 27px 38px 38px 75px;
        }
    
        .pr-banner__content-indicator--triangle {
            -webkit-clip-path: polygon(100% 45%, 0 0, 0 100%);
            background-color: $gold;
            clip-path: polygon(100% 45%, 0 0, 0 100%);
            content: '';
            height: 112px;
            left: 0;
            position: absolute;
            top: 65px;
            width: 30px;                                                                                                                             
    
            @media only screen and (min-width: 768px) {
                width: 56px;
            }
        }
    
        .pr-banner__title {
            color: $white;
            font-family: $fm-bc-eb;
            font-size: $fs-heading-lg;
            line-height: $lh-heading-lg;
            text-transform: uppercase; 
        
            @media only screen and (min-width: 768px) {
                font-size: $fs-heading-xl;
                line-height: $lh-heading-xl;
            }
    
            span {
                display: block;
            }
        }
        
        .pr-banner__desc {
            font-size: $fs-body-md;
            line-height: $lh-body-md;
            color: $white;
            margin-bottom: 20px;
    
            @media only screen and (min-width: 768px) {
                margin-bottom: 34px;
            }
        }
    }
}

.pr-banner__btn-wrap {
    gap: 20px;

    @media only screen and (min-width: 768px) {
        gap: 50px;
    }

    .pr-banner__btn {
        .pr-banner__btn-text {
            position: relative;
            z-index: 99;
        }   

        &:nth-child(1) {
            @include button($vermilion,$white,$vermilion,$gold,$indigo-dye);
        }
    
        &:nth-child(2) {
            @include button($vermilion,$white,$white,$white,$vermilion);

            &::before,
            &::after {
               background-color:transparent;
            }
        }
    }
}

.pr-banner__btn--explore {
    align-items: center;
    bottom: 5px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all linear 0.3s;

    @media only screen and (min-width: 768px) {
        bottom: 20px;
    }

    @media only screen and (min-width: 992px) {
        bottom: 30px;
    }

    &:hover {
        .pr-banner__btn--explore-text {
            color: $primary-color;
        }

        .pr-banner__btn--explore-icon svg path {
            fill: $primary-color;
        }
    }

    .pr-banner__btn--explore-text {
        color: $white;
        display: inline-block;
        font-family: $fm-js-b;
        font-size: $fs-body-md;
        letter-spacing: 2.1px;
        line-height: 18px;
        text-transform: uppercase;
    }

    .pr-banner__btn--explore-icon {
        display: inline-block;
        padding-top: 10px;

        svg {
            vertical-align: top;
        }
    }
}
 
/* ========= Best Seller Section CSS Start =========*/ 

.pr-bs {
    padding: 45px 0;

    @media only screen and (min-width: 768px) {
        padding: 75px 0;
    }
}

.pr-bs__head {
    margin: 0 auto 30px;
    max-width: 300px;
    text-align: center;

    @media only screen and (min-width: 768px) {
        margin: 0 auto 50px;
    }

    .pr-bs__mini-title {
        font-family: $fm-js-b;
        font-size: $fs-body-sm;
        letter-spacing: 1.2px;
        line-height: $lh-body-sm;
        margin-bottom: 4px;
        text-transform: uppercase;
    }

    .pr-bs__title {
        font-family: $fm-bc-b;
        font-size: $fs-heading-md;
        line-height: $lh-heading-md;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

.pr-bs__product-row {
    margin: 0 -10px;
    position: relative;
}

.pr-bs__product-card {
    margin: 0 10px 30px 10px;
    max-width: 300px;
    overflow: hidden;
    transition: all 0.3s linear;
    width: 100%;

    &:hover {
        border-radius: 12px;
        box-shadow: 0px 30px 40px rgba(0,0,0,0.14);
    }

    .pr-bs__product-img {
        background-color: $sea-salt;
        max-height: 295px;
        overflow: hidden;
        padding: 10px 0;
        position: relative;

        .pr-bs__product-tag {
            color: $white;
            display: inline-block;
            font-family: $fm-nunito-b;
            font-size: 11px;
            left: 0;
            letter-spacing: 1.1px;
            line-height: $fs-body-sm;
            padding: 5px 10px; 
            position: absolute;
            text-transform: uppercase;
            top: 15px;
            transform: rotate(-90deg);

            &.tag--sale {
                background-color: $vermilion;
            }

            &.tag--new {
                background-color: $verdigris;
            }

            &.tag--back {
                background-color: $sky-blue;
                left: -30px;
                top: 48px;
            }
        }

        .pr-bs__product-img-wrap {
            margin: 0 auto;
            max-width: 200px;
            width: 100%;
        } 
    }

    .pr-bs__product-details {
        padding: 15px 12px;

        .pr-bs__product-review {
            display: flex;
            gap: 2px;
            margin-bottom: 14px;

            .pr-bs__product-review-icon {
                display: inline-block;
            }
        }

        .pr-bs__product-name {
            font-family: $fm-js-b;
            font-size: $fs-body-sm;
            line-height: $lh-body-sm;
            margin-bottom: 10px;
            min-height: 35px;
            text-transform: uppercase;
        }

        .pr-bs__product-price {
            display: inline-block;
            font-size: $fs-body-sm;
            line-height: $lh-body-sm;
            margin-bottom: 14px;

            del {
                color: $silver;
                margin-left: 4px;
            }
        }

        .pr-bs__product-color {
            display: flex;
            gap: 8px;

            .pr-bs__product-color-wrap {
                display: inline-block;
                height: 24px; 
                position: relative;
                width: 24px;

                input[type='radio'] {
                    height: 0;
                    visibility: hidden;
                    width: 0;
                }
            }

            .pr-bs__product-color-custom {
                border-radius: 50%;
                border: 1px solid transparent;
                cursor: pointer;
                display: inline-block;
                height: 22px;
                inset: 0;
                position: absolute;
                transition: all 0.1s linear;
                width: 22px;
            }

            .pr-bs__product-color-custom.selected {
                border: 2px solid $white;
                box-shadow: 0 0 0 1px $heading-color;
                padding: 2px;
            }
        }
    }
}

/* ------ Slick Slider CSS  ------ */

.pr-bs__product-slider-icon {
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 4px 14px rgba($black,0.14);
    cursor: pointer;
    display: inline-block;
    height: 46px;
    padding: 9px 6px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(calc(-50% - 100px));
    width: 46px;
    z-index: 99;

    &.prev-icon {
        left: 10px;
    }

    &.next-icon {
        right: 10px;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

/* ============  Real Life Section CSS Start ============== */

.pr-rl {
    background-color: $flash-white;
    padding: 75px 0 55px;
}

.pr-rl__row.row--one {
    .pr-rl__col {
        flex: 0 0 100%;

        &.col--one {
            max-width: 100%;
            overflow: hidden;
            order: 2;

            @media only screen and (min-width: 768px) {
                max-width: 40%;
            }

            @media only screen and (min-width: 1024px) {
                max-width: 25%;
                order: 1;
            }

            .pr-rl__img-wrap {
                overflow: hidden;
            }
            
            .pr-rl__img {
                background-image: url(../assets/images/bottle.png);
                background-attachment: fixed;
                background-repeat: no-repeat;
                height: 326px;

                @media only screen and (min-width: 1024px) {
                    margin-top: 30px;
                    width: 246px;
                }
            }
        }

        &.col--two {
            max-width: 100%;
            order: 1;

            @media only screen and (min-width: 1024px) {
                max-width: 45%;
                order: 2;
            }

            .pr-rl__content {
               max-width: 500px;
               margin: 0 auto;
               text-align: center;

               @media only screen and (min-width: 1024px) {
                    max-width: 380px;
                }
            }
        }

        &.col--three {
            max-width: 100%;
            order: 3;

            @media only screen and (min-width: 768px) {
                max-width: 60%;
            }

            @media only screen and (min-width: 1024px) {
                max-width: 30%;
            }

            .pr-rl__img-row {
                display: flex;
                flex-wrap: wrap;
                
                @media only screen and (min-width: 768px) {
                    gap: 10px;
                }

                .pr-rl__img-wrap {
                    flex: 0 0 100%;
                    

                    &:first-child {
                        @media only screen and (min-width: 768px) {
                            max-width: 100%;

                            img {
                                height: 200px;
                                width: 100%;
                            }
                        }

                        @media only screen and (min-width: 1024px) {
                            margin-top: 62px;
                            max-width: calc(60% - 10px);
                            position: relative;
                            z-index: 99;

                            img {
                                height: 304px;
                                width: 200px;
                            }
                        }
                        
                    }
                }

                .pr-rl__img-wrap {
                    &:last-child {
                        @media only screen and (min-width: 768px) {
                            max-width: 100%;
                            img {
                                height: 200px;
                                width: 100%;
                            }
                        }

                        @media only screen and (min-width: 1024px) {
                            max-width: 40%;
                             
                            img {
                                height: 158px;
                                width: 119px;
                            }
                        }
                        
                    }
                }
            }
        }

        // @media only screen and (max-width: 767px) {
        //     img {
        //         margin: 8px 0;
        //         width: 100%;
        //     }
        // }
    }
}

.pr-rl__row.row--two {
    .pr-rl__col {
        flex: 0 0 100%;

        &.col--one {
            max-width: 100%;
            position: relative;

            @media only screen and (min-width: 1024px) {
                max-width: 50%;
            }

            .pr-rl__img-wrap {
                @media only screen and (min-width:768px) and (max-width: 1041px){
                    display: grid;
                    gap: 15px;
                    grid-template-columns: 1fr 1fr;
                    margin: 10px 0;

                    img {
                        height: 200px;
                        width: 100%;
                    }
                }
            }

            .pr-rl__img-wrap {
                overflow: hidden;
            }

            .pr-rl__img--first {
                background-image: url(../assets/images/kitchen.png);
                background-attachment: fixed;
                height: 300px;
                background-repeat: no-repeat;
               
                @media only screen and (min-width: 1024px) {
                    margin-top: 45px;

                    // img {
                    //     height: 300px;
                    //     width: 420px;
                    // }
                }
                
            }

            .pr-rl__img--second {
                @media only screen and (min-width: 1024px) {
                    position: absolute;
                    right: 10px;
                    top: -40px;
                    
                     
                    img {
                        height: 264px;
                        width: 264px;
                    }
                }
               
            }
        }

        &.col--two {
            max-width: 100%;

            @media only screen and (min-width: 1024px) {
                max-width: 50%;

                .pr-rl__img-wrap {
                    margin-top: -40px;
                    position: relative;
                    text-align: center;
                    overflow: hidden;
                    z-index: 9;
                    background-image: url(../assets/images/mountain.png);
                    background-attachment: fixed;
                    height: 300px;
                    background-repeat: no-repeat;
    
                    // img {
                    //     height: 300px;
                    //     width: 450px;
                    // }
                }
            }
        }

        @media only screen and (max-width: 767px) {
            img {
                margin: 8px 0;
                width: 100%;
            }
        }
    }
}

.pr-rl__content {
    margin-bottom: 40px;

    .pr-rl__mini-title {
        font-family: $fm-js-b;
        font-size: $fs-body-sm;
        letter-spacing: 1.2px;
        line-height: $lh-body-sm;
        margin-bottom: 8px;
        text-transform: uppercase;
    }
    
    .pr-rl__title {
        font-family: $fm-bc-b;
        font-size: $fs-heading-xs;
        line-height: $lh-heading-xs;
        margin-bottom: 10px;
        text-transform: uppercase;
    
        @media only screen and (min-width: 768px) {
            font-size: $fs-heading-lg;
            line-height: $lh-heading-lg;
        }
    }
}

/* ============ Two Column Image Section CSS Start  ============== */

.pr-tc {
    padding: 45px 0;

    @media only screen and (min-width: 768px) {
        padding: 75px 0;
    }

    @media only screen and (min-width: 992px) {
        padding: 140px 0 75px;
    }
}

.pr-tc__row {
    align-items: center;
    display: grid;
    gap: 90px;

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }

    @media only screen and (min-width: 992px) {
        gap: 50px;
    }

    .pr-tc__mini-title {
        font-family: $fm-js-b;
        font-size: $fs-body-sm;
        letter-spacing: 1.2px;
        line-height: $lh-body-sm;
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    .pr-tc__title {
        font-family: $fm-bc-b;
        font-size: $fs-heading-xs;
        line-height: $lh-heading-xs;
        margin-bottom: 30px;
        text-transform: uppercase;

        @media only screen and (min-width: 768px) {
            font-size: $fs-heading-md;
            line-height: $lh-heading-md;
        }
    }

    .pr-tc__desc {
        margin-bottom: 8px;
    }

    .pr-tc__btn {
        background-color: transparent;
        border-radius: 32px;
        border: 1px solid $heading-color;
        color: $heading-color;
        display: inline-block;
        font-family: $fm-js-b;
        font-size: $fs-body-sm;
        letter-spacing: 1.2px;
        line-height: $lh-body-sm;
        max-width: 180px;
        padding: 17px 15px;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        width: 100%;

        &:hover {
            transform: scale(1.05);
        }

    }

    .pr-tc__img {
        margin-bottom: 40px;
        max-width: 95%;
        position: relative;

        &:before {
            background-color: $primary-color;
            bottom: -25px;
            content: '';
            height: 100%;
            position: absolute;
            right: -25px;
            width: 100%;
            z-index: -9;

            @media only screen and (min-width: 768px) {
                margin-bottom: 0;
            }

            @media only screen and (min-width: 992px) {
                bottom: -35px;
                right: -35px;
            }
        }

        .pr-tc__brew-tag {
            display: inline-block;
            height: 145px;
            position: absolute;
            right: 0;
            top: -80px;
            width: 145px;

            @media only screen and (min-width: 1024px) {
                right: -40px;
            }
        }

        .pr-tc__img-brew {
            @media only screen and (min-width: 768px) {
               height:350px;
            }

            @media only screen and (min-width: 992px) {
                height: 420px;
            }
        }
    }
}